PORT=
NODE_ENV=

MONGO_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=

// To generate a random JWT secret, you can use the following command in your terminal:-
// node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"    